@model IEnumerable<Dto.EducationDto>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Mevcut Eğitimler";
}
<link href="~/css/education.css" rel="stylesheet" />

<h2>Mevcut Eğitimler</h2>

<table class="table">
    <thead>
        <tr>
            <th>Adı</th>
            <th>Kota</th>
            <th>Fiyat</th>
            <th>Süre</th>
            <th>Eğitimci</th>
            <th>Kategori</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var education in Model)
        {
            <tr>
                <td>@education.Name</td>
                <td>@education.Quota</td>
                <td>@education.Price</td>
                <td>@education.Duration</td>
                <td>@education.InstructorFullName</td>
                <td>@education.CategoryFullName</td>
                <td>
                    <form asp-action="RegisterForEducation" method="post">
                        <input type="hidden" name="educationId" value="@education.Id" />
                        <button type="submit" class="btn btn-primary">Kaydol</button>
                    </form>
                </td>
            </tr>
        }
        <div class="button-container">
            <a href="@Url.Action("MyEnrollments", "Student")" class="btn btn-primary">Eğitimlerim'e Git</a>
        </div>
    </tbody>
</table>
